
.DS_Store

*.iml

.idea/inspectionProfiles/Project_Default.xml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml

heatmapgenerator-electron/.idea/inspectionProfiles/Project_Default.xml

heatmapgenerator-electron/.idea/modules.xml

heatmapgenerator-electron/.idea/misc.xml

*.xml
