
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="2.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleName</key>
	<string>HeatmapGenerator2</string>
	<key>CFBundleIdentifier</key>
	<string>org.fltk.fltk_images</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleIconFile</key>
        <string>logo_image.icns</string>
	<key>CFBundleSignature</key>
	<string>FLTK</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2014 by Bohdan Khomtchouk and others.</string>
	<key>CFBundleGetInfoString</key>
	<string>Part of the FLTK library. Please visit www.fltk.org.</string>
</dict>
	</plist>
