<?xml version="1.0" encoding="UTF-8"?>
<plist version="0.9">
    <dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleExecutable</key>
	<string>HeatmapGenerator_Macintosh_OSX</string>
	<key>CFBundleIdentifier</key>
	<string>org.fltk.HeatmapGenerator_Macintosh_OSX</string>
	<key>CFBundleName</key>
	<string>HeatmapGenerator_Macintosh_OSX</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>NSHighResolutionCapable</key>
	<true/>
    </dict>
</plist>
