<?xml version="1.0" encoding="UTF-8"?>
<plist version="5.0">
    <dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleExecutable</key>
	<string>HeatmapGenerator5</string>
	<key>CFBundleIdentifier</key>
	<string>org.fltk.HeatmapGenerator5</string>
	<key>CFBundleName</key>
	<string>HeatmapGenerator5</string>
	<key>CFBundleIconFile</key>
        <string>logo_image.icns</string>
    <key>NSHumanReadableCopyright</key>
	<string>Copyright 2014-2016 Khomtchouk et al.</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>NSHighResolutionCapable</key>
	<true/>
    </dict>
</plist>
